HTTP::Client Exception: header content contains invalid character '~' (ArgumentError)

While making HTTP::Client request to server which returns header
`X-Powered-By: PHP/5.4.38-1~dotdeb.0`
it raises error in HTTP::Client::Headers#check_invalid_header_content.
I think that such headers are quite common and HTTP::Client should relax it's validation rules.

Sigh... I guess we can't just expect that websites conform to HTTP RFCs. We introduced this here: https://github.com/crystal-lang/crystal/pull/2191

Maybe we can allow more ASCII characters without compromising security? @MakeNowJust what do you think?

I also found this: http://stackoverflow.com/a/19028585/4990850

It seems header values don't need such a strict check, but I'm not sure which RFC we need to follow... at least looking at golang's source code (to take at least one reference implementation) I don't see any validation for header values (they do validate header keys).

In Firefox header parsing code
https://dxr.mozilla.org/mozilla-central/source/netwerk/protocol/http/nsHttpHeaderArray.cpp#311
is comment with reference to section 4.2 of RFC 2616.

I'm seeing in the RFC, and also in RFC 7230, that a header value can contain any visible US-ASCII character, so there's definitely a bug in our HTTP::Headers class.

Possible solution in this case is to simply skip invalid header(s). I need only only body and may be status_code. 
I think client could return response without  any (or almost any) headers present.