HTTP unaware of HEAD requests?

I've been writing a kinds-of-proxy in Crystal, and I had to implement HEAD requests/responses for that proxy.

>   The HEAD method is identical to GET except that the server MUST NOT
>   return a message-body in the response. The metainformation contained
>   in the HTTP headers in response to a HEAD request SHOULD be identical
>   to the information sent in response to a GET request.

From [RFC2616, section 9.4](https://tools.ietf.org/html/rfc2616#section-9.4)

The issue with HEAD responses and `HTTP` is that `HTTP.serialize_headers_and_body` will overwrite `Content-Length` depending of the body, and for HEAD requests, it's always empty, so `Content-Length` is set to 0 (even if `#content_length=` is called), which does not follow what clients expect.

@lun-4 Could you provide some code to reproduce this? Thank you!

@asterite It should be enough to send a `HEAD` request.

Okay, I fixed it. However, the fix has nothing to do with `HTTP.serialize_headers_and_body` so maybe I fixed the wrong thing.

Without some reproducible code we'll never know 🤷 

You can reproduce using `HTTP::Server`.

```crystal
require "http/server"

server = HTTP::Server.new do |context|
  context.response.content_length = 2000
end

address = server.bind_tcp 8080
puts "Listening on http://#{address}"
server.listen
```

Without the PR applied:

```
$ curl --head localhost:8080
HTTP/1.1 200 OK
Connection: keep-alive
Content-Length: 0
```

With the PR applied:

```
$ curl --head localhost:8080
HTTP/1.1 200 OK
Connection: keep-alive
Content-Length: 2000
```

:+1: 