`HTTP::Server` includes `content-length` header of `0` on `HEAD` requests

```cr
require "http/server"

server = HTTP::Server.new do |context|
  context.response.content_type = "text/plain"
  context.response.print "Hello world!" unless "HEAD" == context.request.method
end

address = server.bind_tcp 8080
puts "Listening on http://#{address}"
server.listen
```

Doing `GET localhost:8080`, correctly returns the `content-length` of `12`.  However doing `HEAD localhost:8080` sets the `content-length` to `0`.  This currently breaks the RFC, which states:

> A server MAY send a Content-Length header field in a response to a
> HEAD request (Section 4.3.2 of [RFC7231]); a server MUST NOT send
> Content-Length in such a response unless its field-value equals the
> decimal number of octets that would have been sent in the payload
> body of a response if the same request had used the GET method.

Given the server can't know the length of the content in the `GET` context, we should probably just not include it at all.


Currently, there is no special handling for HEAD requests at all. But I think it makes sense to not add a default `Content-Length: 0` header when responding to HEAD. This needs to be communicated from request to response instance, but that shouldn't be too difficult.