Support OAuth 2.0 Resource Owner Password Credentials Grant Type

Please include support for the OAuth 2.0 Resource Owner Password Credentials grant type in the `OAuth2::Client` class. The class currently includes support for Authorization Code and Client Credentials grant types, but not Resource Owner Password Credentials.

The Resource Owner Password Credentials grant type is defined in the OAuth 2.0 standard IETF RFC 6749 Section 1.3.3:

https://tools.ietf.org/html/rfc6749#section-1.3.3

This is supported in other OAuth 2.0 libs including:

Ruby `oauth2` gem:

[https://github.com/oauth-xx/oauth2/blob/master/lib/oauth2/client.rb#L165-L170](https://github.com/oauth-xx/oauth2/blob/b83b65c5b45d63cb5ca99e568db6b7aec0dbe23e/lib/oauth2/client.rb#L165-L170)

Go `oauth2` package:

https://godoc.org/golang.org/x/oauth2#Config.PasswordCredentialsToken