[RFC] URI usabilty

Currently usage is ugly like:

``` cr
uri = URI.new("http://example.org/foo")
client = HTTP::Client.new(uri.host.not_nil!, uri.port || 80)
client.get(uri.path || "/")

HTTP::Server.new(8080) do |request|
  if request.path.not_nil!.starts_with? "/hello"
    # ...
  else
    # ...
  end
end
```
#### path

Currently `URI#path` returns `nil` to indicate the absence of a path. [RFC 3986 Section 3.3](https://tools.ietf.org/html/rfc3986#section-3.3) states:

> A path consists of a sequence of path segments separated by a slash
>    ("/") character.  A path is always defined for a URI, though the
>    defined path may be empty (zero length).  Use of the slash character
>    to indicate hierarchy is only required when a URI will be used as the
>    context for relative references.  For example, the URI
>    mailto:fred@example.com has a path of "fred@example.com", whereas
>    the URI foo://info.example.com?fred has an empty path.

Following this by returning the empty string for path would make usage in contexts where there's a path guaranteed easier. For the client example above however, with `uri = URI.new("http://example.org")` it would break (`GET HTTP/1.1` is invalid). However `HTTP::Client` could rewrite `""` to `"/"`, curl does this too.
#### port

We could hardcode common ports matching the `protocol`. However there might be unknown protocols and thus it would remain nilable, on top of the inconsistency of sometimes returning the implicit port value. The latter inconsistency could be reduced to a minimum by parsing `/etc/services` though, perhaps even at compile time so the runtime cost is kept low.
#### `foo`, `foo?` accessors

Most usages will probably remove the nilables with runtime raising `not_nil!` calls, in particular for cases where there's no sensible default value, like `host`. Should we make this more convenient by turning all of these into `getter!`s?


Closing in favor of #4954