Rethinking the `SSL::Server#on_server_name` API

After merging #16452, I have some second guesses about the newly introduced API design.

### Default context
I'm wondering whether falling back to the default context is actually a good idea when the return value is `nil`. `nil` indicates there is nothing which aligns much better with _nothing_ than an implicit _something_.

When serving a number of virtual hosts, there might not even be any sensible meaning for a "default context". I suppose you need _some_ kind of context to set up a TLS server in the first place. But after SNI it's irrelevant.

I dislike the default context implicitly mapping to any hostname, thus automatically serving the default certificate even if it doesn't cover the requested hostname. That means the client errors with a certificate hostname mismatch, which can be confusing. I'd argue it's usually better to abort the handshake and indicate that the server doesn't recognize the hostname. That's more helpful for the client.
It would be nice if we made this easier to achieve by default.

### Implicitly handling empty name
For similar reasons, the decision that an empty server name implicitly results in `SSL_TLSEXT_ERR_OK` is also questionable. The callback should be able to decide what to do on an empty name. I expect `SSL_TLSEXT_ERR_ALERT_FATAL` is often a better choice.

### Error indication
Going further, I don't think it's a good idea to automatically set the context and return `SSL_TLSEXT_ERR_OK`.
This limits the callback's options for indicating error states. The only way to indicate an error is to raise, which results in `SSL_TLSEXT_ERR_ALERT_FATAL` with `SSL_AD_INTERNAL_ERROR`.

### Usability
Adding more features to the callback may make it more complicated to use.
So perhaps we might need two different APIs:
* a raw `SSL_CTX_set_tlsext_servername_callback` with only a minimal wrapper to Crystal idioms, for full versatility.
* a convenience method which handles callbacks for the specific use case of mapping server names to contexts.

It might be feasible to combine both in one API, though.

---

Add a :+1: [reaction] to [issues you find important].

[reaction]: https://github.blog/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/
[issues you find important]:
    https://github.com/crystal-lang/crystal/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc


The current best practice for TLS implementations in [RFC 3925 §3.7](https://www.rfc-editor.org/rfc/rfc9325#section-3.7-3) recommends that a server should abort the handshake if it does not recognize the hostname in SNI.
I'm not asking that every implementation must do this. It should be up for the application to decide.

But we should make it easy to follow this recommendation. The current API is not designed for this. It makes it hard and discouraging to implement best practices.

The only means right now is to raise an exception. But this is not an exceptional state, so exceptions are the wrong mechanism.
That's why we need a better API.

I agree with the ability to refuse the servername, but I disagree that `nil` shall be used for that. it's much better as "do nothing special, just continue on".

Refusing the servername should be explicit (e.g. enum value).